allow audioserver system_server:unix_stream_socket { read write };
allow audioserver self:netlink_kobject_uevent_socket create_socket_perms;
allow audioserver sensorservice_service:service_manager find;
