# Allow power HAL to adjust max frequency
allow hal_power_default sysfs_devices_system_cpu:file w_file_perms;
allow hal_power_default gpu_freq_device:chr_file w_file_perms;

# Allow power HAL to write to sensor_hub and touchscreen nodes
allow hal_power_default sysfs_sensors:file w_file_perms;
allow hal_power_default sysfs_touchscreen:file w_file_perms;
