# database for vendor RIL
allow rild ril_db_file:file create_file_perms;
allow rild ril_db_file:dir rw_dir_perms;

# Grant access to Qualcomm MSM Interface (QMI) radio sockets to RILD
qmux_socket(rild)

# Read/Write to uart driver (for GPS)
allow rild gps_device:chr_file rw_file_perms;
